* {
    box-sizing: border-box;
}


.main_menu_wrapper {
    width: 25vw;
    float: left;
    margin-top: 0px;
    margin-right: 10px;
    height: 100vh;
    background-color: #ffffff;
}

.main_menu {
    width: fit-content;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 22px;
    padding: auto;
    float: left;
    height: fit-content;
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;

}

.item_del_menu {
    appearance: button;
    width: 22vw;
    cursor: pointer;
    border-radius: 100px;
    border: solid 1px #20538D;
    /*text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);*/
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    font-size: larger;
    user-select: none;
    transition-duration: 0.2s;
    text-align: center;
}

.item_del_menu:hover,
.item_del_menu:focus {
    background: #8ab0df;
    border: solid 5px #3f566e;
    text-decoration: none;
}

.item_del_menu:active {
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #2E5481;
    border: solid 1px #203E5F;
}


.main_text_main {
    overflow-wrap: break-word;
    float: left;
    width: 50%;
    margin-right: 11%;
}